---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="banauso sounds">
	<main>
    <img src='https://res.cloudinary.com/studiobanauso/image/upload/v1604441639/devtoarticleheader/20160125145459_glitch.jpg' />
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

  img {
    margin: auto;
  }
</style>
