---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="banauso code">
	<main>
    <img src='https://res.cloudinary.com/studiobanauso/image/upload/v1604441646/devtoarticleheader/20160125134908_glitch.jpg' />
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

  img {
    margin: auto;
  }
</style>
