---
import Layout from '../layouts/RootLayout.astro';
import { Content as CaptainsLog } from '../content/captains-log.md'
---

<Layout title="banauso studio">
	<main>
    <img src='https://res.cloudinary.com/studiobanauso/image/upload/c_scale,w_500/v1660359163/banauso/under_construction_collage.png' />
		<CaptainsLog />
	</main>
</Layout>

<style>

</style>
