---
import Layout from '../layouts/RootLayout.astro';
import { Content as MissionStatement } from '../content/mission-statement.mdx'
---

<Layout title="banauso studio">
	<main>
		<MissionStatement />
	</main>
</Layout>

<style>

</style>
