---
import Layout from '../layouts/RootLayout.astro';
import VimeoPlayerContainer from '../components/VimeoPlayerContainer.vue'

---

<Layout title="banauso st. udio">
	<main>
		<VimeoPlayerContainer />
	</main>
</Layout>

<style>

</style>
