---
import Layout from '../../layouts/RootLayout.astro';
---

<Layout title="banauso images">
	<main>
    <img src='https://res.cloudinary.com/studiobanauso/image/upload/v1604441640/devtoarticleheader/20160131210643_glitch.jpg' />
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

  img {
    margin: auto;
  }
</style>
