---
import '@fontsource/nunito'
import '@fontsource/vollkorn'

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />


		<title>{title}</title>
	</head>
	<body>
		<a class="title" href="/">{title}</a>
		<div class="with-sidebar">
			<nav class="navigation mb-10">
				<ul>
					<li><a href="/texts/">Texts</a></li>
					<li><a href="/images/">Image</a></li>
					<li><a href="/sounds/">Sound</a></li>
					<li><a href="/code/">Code</a></li>
				</ul>
			</nav>
			<article class="content">
				<slot />
			</article>
		</div>
	</body>
</html>

<style>
	:root {
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		padding: 2em 1em;
		margin: auto;
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		max-width: 100ch;
		margin-right: auto;
	}

	:global(h1) {
		font-size: var(--font-size-xl);
    font-weight: bold;
	}

	:global(h2) {
		font-size: var(--font-size-lg);
    font-weight: bold;
	}

  :global(p) {
		font-family: Vollkorn;
	}

	:global(code) {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	h1 {
		margin: 2rem 0;
	}

  img {
    margin: auto;
  }

	.title {
    font-size: var(--font-size-xl)
  }

	.with-sidebar {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 1ch;

		align-items: flex-start;
		justify-content: space-between;
	}

	.with-sidebar > :first-child {
		flex-basis: 13rem;
	  flex-grow: 1;
	}

	.with-sidebar > :last-child {
	  flex-basis: 0;
	  flex-grow: 999;
	  min-inline-size: 75%;
	}

	.navigation {
		background-color: var(--color-bg);
		position: sticky;
    top: 0;
	}

	.navigation > ul {
		max-width: fit-content;
		display: flex;
		flex-wrap: wrap;
		column-gap: 2ch;
	}

	.navigation > ul > li {
		flex-grow: 1;
		flex-basis: calc((15rem - 100%) * 999);
		font-size: var(--font-size-lg);
	}
</style>
