---
import Layout from '../../layouts/RootLayout.astro';
---

<Layout title="banauso texts">
	<main>
    <img src='https://res.cloudinary.com/studiobanauso/image/upload/v1604441639/devtoarticleheader/20160126194713_glitch_1.jpg' />
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

  img {
    margin: auto;
  }
</style>
